<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | escape }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/styles.css" | relative_url }}">
</head>
<body>
  <header>
  </header>

  <main class="page-content">
    <h1>{{ page.title }}</h1>
    <p class="project-description">{{ page.description }}</p>
    <time>{{ page.date | date: "%B %-d, %Y" }}</time>


    {% if page.complete == "no" %}
      <div class="centered-message under-construction">
        <img src="/imgs/under2.svg" alt="Under Construction">
        <p>This project is currently under construction. Please check back later for updates!</p>
      </div>
    {% elsif page.complete == "NDA" %}
      <div class="centered-message nda-message">
        <img src="/imgs/nda.svg" alt="NDA">
        <p>This project is under NDA or we haven't received permission to share it publicly yet. Please contact us for more information!</p>
      </div>
    {% else %}
      <div class="project-details">
        <p>{{ content }}</p>
      </div>
    {% endif %}
  </main>

  <footer>
    <p>&copy; 2024 Mark Y. Jang. All rights reserved.</p>
  </footer>
</body>
</html>